#dashboard h1{
    color: #6EEB83;
    margin: 50px;
}

.post{
    background-color: #27272C;
    border: solid 2px #6EEB83;
    border-radius: .375rem;
    width: 100;
    margin: 20px;
    padding: 20px;
}

.post h3{
    color: #6EEB83;
}

.post code{
    color: #fff;
}

.post button{
    border: solid 2px #6EEB83;
    background-color: #27272C;
    height: 30px;
    width: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 5px;
    margin-top: 10px;
    background-image: url("../assets/upvote.png");
    border-radius: .375rem;
}