body {
    font-family: Verdana, sans-serif;
  }

footer{
    background-color: #121213;
}

footer h1{
    color: #6EEB83;
}

li{
    display: inline-flex;
    padding: 10px;
}

a, a:hover{
    color: #fff;
}