body{
    overflow-x: hidden;
    font-family: Verdana, sans-serif;
    background-color: #27272C;
}

.jumbotron, .img-fluid{
    height: 80vh;
}

.col-lg-6{
    padding: 0px;
}

#jumbotron1{
    display: block;
}

#jumbotron2{
    display: none;
}

.flex-column{
    text-align: right;
}

#computer{
    padding: 75px 50px 150px 0px;
    color: #6EEB83;
}

#computer p{
    color: #fff;
    font-size: large;
}

#mobile h1{
    display: none;
}

.btn{
    background-color: #27272C;
    border: solid 2px #6EEB83;
    color: #6EEB83;
    text-decoration: none;
}

@media (max-width: 992px) {
    .img-fluid{
        height: 40vh;
    }
    .jumbotron{
        height: auto;
    }
    #computer{
        margin: 20px;
        color: #6EEB83;
        text-align: center;
        padding: 0px;
    }
    #jumbotron1{
        display: none;
    }
    #jumbotron2{
        display: block;
        margin: auto;
    }
    #mobile h1{
        display: block;
        color: #6EEB83;
        text-align: center;
        margin: 15px;
    }
    #computer h1{
        display: none;
    }
    
}