body {
    font-family: Verdana, sans-serif;
  }

.navbar{
    background-color: #121213;
}

.navbar-brand{
    padding-left: 20px;
    color: #6EEB83;
    display: inline-flex;
}
li{
    display: inline-flex;
    color: #fff;
}

@media (max-width: 991px) {
    li{
        display:block;
    }

    ul{
        padding-left: 20px;
    }

    .navbar-toggler{
        margin: 10px;
    }
}