#createPost h1{
    color: #6EEB83;
    margin: 50px;
}

#createPost form{
    margin: 50px;
}

#createPost textarea{
    all: unset;
    background-color: #27272C;
    border: solid 2px #6EEB83;
    border-radius: .375rem;
    padding: 10px;
    width: 80vw;
}

@media (max-width: 426px) {
    #createPost h1{
        margin: 20px;
    }
    #createPost form{
        margin: 20px;
    }
    #createPost button{
        margin: 20px 0px;
    }
}