body{
    overflow-x: hidden;
    font-family: Verdana, sans-serif;
    background-color: #27272C;
}

#profileImg{
    height: 40vh;
    width: 40vh;
    border-radius: 20px;
    margin: 40px;
}

#profile h1{
    color: #6EEB83;
    margin: 50px;
}

#profile p{
    color: #fff;
    margin: 50px;
}

#contact{
    margin: 40px;
}

#profile a{
    color: #fff;
    margin: 10px
}

.icon{
    height: 60px;
}

@media (max-width: 992px) {
    #profileImg{
        height: 20vh;
        width: 20vh;
        margin: 20px;
    }
    #profile h1{
        margin: 20px;
    }
    #profile p{
        margin: 20px;
    }
    #profile a{
        margin: 20px;
    }
    #contact{
        margin: 20px;
    }
}

